ailment==9.2.147
aiodns==3.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.9.3
aiomultiprocess==0.9.1
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.6.0
archinfo==9.2.147
argcomplete==3.5.0
arjun==2.2.6
asyncio==3.4.3
attrs==23.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
bitarray==3.2.0
bitstring==4.3.1
bleach==6.2.0
blinker==1.8.2
blis==1.0.1
Brotli==1.1.0
browser-cookie3==0.20.1
cachetools==5.5.0
capstone==5.0.3
cart==1.2.3
catalogue==2.0.10
censys==2.2.14
certifi==2024.2.2
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
claripy==9.2.147
cle==9.2.147
click==8.1.8
click-plugins==1.1.1
cloudpathlib==0.20.0
colorama==0.4.6
confection==0.1.5
CppHeaderParser==2.7.4
cryptography==44.0.1
curl_cffi==0.10.0
cymem==2.0.10
defusedxml==0.7.1
Deprecated==1.2.14
dicttoxml==1.7.16
dirsearch==0.4.3.post1
distlib==0.3.9
distro==1.9.0
dnspython==2.6.1
duckduckgo_search==7.5.4
ecdsa==0.19.0
email_validator==2.2.0
fastapi==0.115.0
fastecdsa==3.0.1
fenjing==0.7.3
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
Flask-Limiter==3.9.2
Flask-PyMongo==2.3.0
frida==16.6.6
frida-tools==13.6.1
frozenlist==1.4.1
# Editable install with no version control (g4f==0.0.0)
ghauri==1.4.2
gitdb==4.0.12
GitPython==3.1.44
gmpy2==2.2.1
googlesearch-python==1.3.0
greenlet==3.0.3
h11==0.14.0
hashID==3.1.4
httpcore==1.0.7
httpx==0.28.1
idna==3.6
importlib_resources==6.4.5
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.9.0
langcodes==3.5.0
language_data==1.3.0
limits==3.13.0
lxml==5.3.0
lz4==4.4.3
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
motor==3.6.0
mpmath==1.3.0
mss==10.0.0
mulpyplexer==0.9
multidict==6.0.5
murmurhash==1.0.11
Naked==0.1.32
nest-asyncio==1.6.0
netaddr==1.3.0
networkx==3.4.2
nodriver==0.43
ntlm-auth==1.5.0
numpy==2.0.2
openai==1.68.2
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.2
pefile==2024.8.26
phonenumbers==8.13.50
pillow==10.2.0
pipx==1.7.1
platformdirs==4.3.6
playwright==1.43.0
ply==3.11
preshed==3.0.9
primp==0.14.0
prompt_toolkit==3.0.50
protobuf==6.30.1
psutil==7.0.0
pyasn1==0.6.1
pycares==4.4.0
pycparser==2.22
pycryptodome==3.21.0
pycryptodomex==3.22.0
pydantic==2.10.1
pydantic_core==2.27.1
pydemumble==0.0.1
pydot==3.0.4
pyee==11.1.0
pyelftools==0.32
pyformlang==1.0.11
Pygments==2.17.2
PyJWT==2.9.0
pymongo==4.9.2
pyngrok==7.2.1
pyOpenSSL==24.2.1
pyparsing==3.1.4
PyPDF2==3.0.1
PySocks==1.7.1
pyspnego==0.11.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-http-client==3.3.7
python-jose==3.3.0
python-multipart==0.0.20
python-whois==0.9.5
pyvex==9.2.147
PyYAML==6.0.2
ratelimit==2.2.1
redis==5.2.0
reportlab==4.1.0
requests==2.32.3
requests-file==2.1.0
requests_ntlm==1.3.0
retrying==1.3.4
rich==13.7.1
rsa==4.9
selenium==4.29.0
sendgrid==6.11.0
setuptools==75.1.0
shellescape==3.8.1
shellingham==1.5.4
shodan==1.31.0
six==1.16.0
slowapi==0.1.9
smart-open==7.0.5
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
starkbank-ecdsa==2.2.0
starlette==0.38.6
sympy==1.13.3
tdqm==0.0.1
termcolor==2.5.0
thinc==8.3.2
tldextract==5.1.3
tqdm==4.67.0
trio==0.29.0
trio-websocket==0.12.2
typer==0.13.1
typing_extensions==4.12.2
ua-generator==2.0.1
ujson==5.10.0
unique_log_filter==0.1.0
urllib3==2.2.0
userpath==1.9.2
uvicorn==0.31.0
uvloop==0.20.0
virtualenv==20.29.2
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.4
wrapt==1.17.0
wsproto==1.2.0
XlsxWriter==3.2.0
yarl==1.9.4
z3-solver==4.13.0.0